<template>
  <v-row class="fill-height" align-content="center" justify="center" >
    <v-col class="subtitle-1 text-center py-0 white--text" cols="12" >
      Obteniendo Información
    </v-col>
    <v-col cols="6">
      <v-progress-linear color="secondary" indeterminate rounded height="6"/>
    </v-col>
  </v-row>
</template>